<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projecttest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MVVM"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projecttest">
        <activity android:name=".MovieActivity">

        </activity>
        <activity android:name=".room.view.SinhVienActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BookActivity"></activity>
        <activity android:name=".mvvm.ChatActivity" >

        </activity>
        <activity android:name=".bai2.Bai2Activity" />
        <activity android:name=".ChonBaiActivity" />
        <activity android:name=".bai1.Bai3Activity" />
        <activity android:name=".bai1.Bai4Activity" />
        <activity android:name=".bai1.SplassActivity" />
        <activity android:name=".bai1.MainActivity" />
    </application>

</manifest>